################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TempConvert/bin/Debug/netcoreapp3.1
/TempConvert/obj/Debug/netcoreapp3.1
